html {
    background: url('Images/b-847-0.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jb{
    background-color: rgba(255, 255, 255, 0.70);
    border: 1px solid;
    border-color: rgba(144, 144, 144, 0.88);
    border-radius: 5px;
}